# # ("OptiKey.exe", description="Name of Optikey Executable (.exe)")
# PYMONITOR__TOBII__OPTIKEY_EXE_NAME=
# # ("./OptiKey.exe", description="Full path to Executable")
# PYMONITOR__TOBII__OPTIKEY_PATH=
# # ("Tobii.EyeX.Engine.exe", description="Name of Tobii Engine Service Executable (.exe)")
# PYMONITOR__TOBII__EYEX_ENGINE_EXE_NAME=
# # ("Tobii.EyeX.Interaction.exe", description="Name of Tobii Engine Interaction Executable (.exe)")
# PYMONITOR__TOBII__EYEX_INTERACTION_EXE_NAME=
# # ("Tobii.Service.exe", description="Name of Tobii Service Executable (.exe)")
# PYMONITOR__TOBII__SERVICE_EXE_NAME=
# # ("Tobii Service", description="Name of Tobii Service")
# PYMONITOR__TOBII__SERVICE_NAME=
# # ("TobiiGeneric", description="Name of Tobii Generic Service")
# PYMONITOR__TOBII__GENERIC_NAME=
# # ("TobiilS5LEYETRACKER5", description="Name of Tobii Eyetracker Service")
# PYMONITOR__TOBII__EYETRACKER_NAME=

# TELEGRAM
PYMONITOR__TELEGRAM__BOT_TOKEN=
PYMONITOR__TELEGRAM__CHAT_ID=

# # MONITORING SETTINGS
# PYMONITOR__MONITORING__PHOTO_MODE=
# PYMONITOR__MONITORING__MODE=
# PYMONITOR__MONITORING__CHECK_INTERVAL=

# # REMOTE ACCESS SETTINGS
# PYMONITOR__RMEOTE_ACCESS__ANYDESK_EXE_NAME=
# PYMONITOR__RMEOTE_ACCESS__ANYDESK_PATH=
